.ShadowIntoLight {
  font-family: "Shadows Into Light", cursive;
}

.indieFlower {
  font-family: "Indie Flower", cursive;
}

.bangers {
  font-family: "Bangers", cursive;
}

.architectDaughters {
  font-family: "Architects Daughter", cursive;
}

.marEnd {
  margin-right: 1050px;
}
